*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}


// Preview

.preview {
  padding: 5rem;
  overflow: auto;
}

.fitter-container {
  border: 1px dotted #000;
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: -.025em;
}

h2 {
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}


// Controls

input[type=range] {
  width: 100%;
  margin: 0;
  background: transparent;
  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &:focus {
    outline: 0;
  }

  &::-ms-track {
    width: 100%;
    color: transparent;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
  }
}

button {
  padding: .25rem .5rem;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  -webkit-appearance: none;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #18A0FB;
  }
}

input[type=checkbox] {
  --checkbox-size: 14px;

  position: relative;
  margin: 0;
  width: calc(var(--checkbox-size) * 2);
  height: var(--checkbox-size);
  background-color: #c3c3c3;
  border-radius: calc(var(--checkbox-size) / 2);
  cursor: pointer;
  transition: all .2s;
  -webkit-appearance: none;

  &::after {
    --padding: 1px;

    content: '';
    display: block;
    position: absolute;
    top: var(--padding);
    left: var(--padding);
    width: calc(var(--checkbox-size) - var(--padding) * 2);
    height: calc(var(--checkbox-size) - var(--padding) * 2);
    background-color: #fff;
    border-radius: 50%;
    transition: all .2s;
  }

  &:checked {
    background-color: #000;

    &::after {
      left: calc(var(--checkbox-size) + var(--padding));
    }
  }

  &:focus {
    outline: 0;
  }
}

.controls {
  width: 18rem;
  flex: 0 0 auto;
  padding: 1rem 1.5rem 1.5rem;
  font-size: .75rem;
  color: #444;
  background-color: #f4f4f4;

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;

    legend {
      padding: 0;
      margin-bottom: .5rem;
      font-size: .875rem;
      font-weight: 600;
    }

    + fieldset {
      margin-top: 1rem;
    }
  }

  label {
    display: flex;
    align-items: center;
    margin-bottom: .25rem;
    height: 1.5rem;

    span:first-child {
      display: block;
      flex: 0 0 auto;
      width: 5rem;
    }

    input[type=checkbox] {
      flex: 0 0 auto;
      margin-right: .5rem;
    }

    input[type=range] {
      flex: 1 1 auto;
      height: .5rem;
      border-radius: .25rem;
      background-color: #c3c3c3;

      &:focus {
        box-shadow: 0 0 0 2px #18A0FB;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1rem;
        height: 1rem;
        background-color: #000;
        border: 2px solid #f4f4f4;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    output {
      margin-left: .5rem;
    }

    .unit {
      flex: 0;
      margin-left: .5rem;
      color: rgba(0, 0, 0, .4);
    }
  }
}


// GitHub ribbon

.github-ribbon {
  position: fixed;
  top: 0;
  left: 0;
  width: 14rem;
  height: 14rem;
  overflow: hidden;
  z-index: 999;
  pointer-events: none;

  a {
    display: block;
    position: absolute;
    top: 2.90rem;
    left: -2.90rem;
    width: 14rem;
    padding: .5rem 0;
    font-size: .875rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4abf9f;
    transform: rotate(-45deg);
    overflow: hidden;
    pointer-events: all;
  }
}
